body{
    background:linear-gradient(55deg,#ffffdd,#ccffff);
    padding: 10px;
}
canvas{
    float: right;
    width: 350px;
    height: 350px;
    background: linear-gradient(45deg,#ccff66,#aaaa11,#ccff66);
    position: relative;
    bottom: 100px;
    border-color: black;
    border-width: 2px;
    border-style:outset;
    box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    opacity:inherit;
/*    background-color: #ccff66;*/
}
canvas:hover{
    opacity:0.7;
}
h1{
    background-color: black;
    color: white;
    font-family:cursive;
    text-align:center;
}

button{
    padding: inherit;
    margin-top:35px;
    transform: skewX(-15deg);
    box-shadow:0 10px 20px 6px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    position: relative;
    left: 80px;
}
button:hover{
    animation-name:obr;
    animation-duration: 5s;
    animation-fill-mode: forwards;
/*    transform: skewX(15deg) scale(1.1);*/
}
@keyframes obr{
/*    50%{transform: skewX(10deg) scale(1.1);}*/
/*    100%{transform: skewX(15deg) scale(1.2);*/
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);transform: skewX(-15deg);}

    }
}
section{
    padding: inherit;
}
.prettycard{
    background: linear-gradient(35deg,#ccffff,#ffcccc);
    border-radius: 20px;
    width: 70%;
    height: 200px;
    margin: 50px;
    box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);

}
#resp{
    position: relative;
    top:25px;
    padding-bottom: -10px;
    padding-top: 10px;
    margin: -10px;
    text-align: center;
    font-size: 20px;
}
 .fullCard {
     background: linear-gradient(35deg,#ccffff,#ffcccc);
    width: 245px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
     box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
  }
.of{
    overflow-x:hidden;
}
#pos{
    margin-left: 20px;
}
